.header {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-template-areas: 'header__logo      .      header__button';

	&__logo {
		grid-area: header__logo;
		align-self: center;
		margin: 5px 1rem;
		font-size: 2rem;

		& > :link {
			text-decoration: none;
		}
	}

	&__button {
		grid-area: header__button;
		justify-self: right;
		margin: 5px 1rem;
	}
}
